@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 20px auto 20px auto;
  padding: 20px 0px;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-login {
  font-weight: 600;
  padding: 5px;
}
.btn-sign-up {
  background-color: #e94339;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 200px;
  margin-left: 20px;
}

/* style  */
@media (max-width: 1024px) {
  .navbar {
    max-width: 80%;
    padding: 10px 0;
  }

  .navbar-list {
    gap: 8px;
  }

  .btn-sign-up {
    padding: 8px 16px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    flex-direction: row;
  }

  .navbar-list {
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }

  .nav-btn {
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
  }

  .btn-sign-up {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    padding: 5px 10px;
  }
  .navbar-list {
    flex-direction: row;
    font-size: 10px;
  }
  .nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: -2px;
  }
  .btn-sign-up {
    padding: 8px 12px;
    font-size: 14px;
  }
}
